/*Setting the defaults of the page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/*Setting the background color of the page*/
body {
    background: lightblue
}

/*Start button layout*/
.start_btn,
.info_box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Start button styling*/
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: none;
    background: white;
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: white;
    border-radius: 5px;
}

.info_box .info_title {
height: 60px;
width: 100%;
border-bottom: 1px solid grey;
display: flex;
align-items: center;
padding: 0 35px;
font-size: 20px;
font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: red;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}