/*Defining colors as variables for future use*/ 
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --lightblue: #ADD8E6;
    --lighterblue: #A7C7E7;
    --red: #E32227;
    --black: #000;
    --lightgrey: #8A8A8A;
    --grey: #454545;
    --bluegrey: #7393B3
}

/*Setting the defaults of the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/*Setting the background color of the page*/
body {
    background: var(--lightblue)
}

/*Start button layout*/
.start_btn,
.info_box,
.quiz_actual,
.results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 var(--grey);
    transition: all 0.4s ease;
}

/*Start button styling*/
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--blue);
    border-radius: 1px;
    background: var(--white);
    cursor: pointer;
}

.info_box.activeInfo,
.quiz_actual.activeQuiz,
.results.activeResults {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box {
    width: 540px;
    background: var(--white);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
}

/*Defining sizing settings*/
.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: var(--red);
}

/*Display configuration for buttons*/
.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid var(--grey);
}

/*Defining color for buttons*/
.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

/*Defining color for buttons*/
.buttons button.quit,
.buttons button.restart {
    color: var(--black);
    border-color: var(--blue);
}

/*Defining mouseover color change for buttons*/
.buttons button.quit:hover,
.buttons button.restart:hover {
    background: var(--blue);
    color: var(--white);
}

/*Display configuration for quiz box*/
.quiz_actual {
    width: 550px;
    background: var(--white);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_actual header {
    height: 70px;
    padding: 0 30px;
    background: var(--white);
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--grey);
}

.quiz_actual header .title {
    font-size: 22px;
    font-weight: 600;
}

/*Display configuration for quiz timer options*/
.quiz_actual header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: var(--white);
    border: 1px solid;
    border-color: var(--blue);
    padding: 0 8px;
    border-radius: 5px;
}

.quiz_actual header .timer .timer_text {
    font-weight: 400;
    font-size: 18px;
    user-select: none;
}

.quiz_actual header .timer .timer_sec {
    font-size: 26px;
    font-weight: 500;
    background: var(--blue);
    height: 30px;
    color: var(--white);
    text-align: center;
    width: 45px;
    line-height: 31px;
    border-radius: 5px;
    border: 1px solid;
    user-select: none;
}

/*Display configuration for quiz box section*/
.quiz_actual section {
    padding: 25px 30px 20px 30px;
    background: var(--white);
}

/*Display configuration for quiz text*/
.quiz_actual section .q_text {
    font-size: 25px;
    font-weight: 600;
}


/*Display configuration for quiz options*/
.quiz_actual section .options_li {
    padding: 20px 0;
    display: block;
}

/*Display configuration for quiz answer options*/
section .options_li .options {
    background: var(--lightblue);
    border: 1px solid var(--bluegrey);
    margin-bottom: 15px;
    padding: 8px 16px;
    display: flex;
    font-size: 17px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/*Defined settings for mouseover quiz answers, might re add later*/
/*section .options_li .options:hover {
    color: var(--blue);
    background: var(--lighterblue);
    border-color: var(--blue);
}*/


.options_li .option:last-child {
    margin-bottom: 0px;
}

.options_li .options .icon {
    height: 30px;
    border: 2px solid transparent;
    width: 30px;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

/*Color option for correct answers to highlight in green*/
.options_li .options.correct {
    border-color: green;
    color: green;
    background: #C7FFCB;
}

/*Color option for incorrect answers to highlight in red*/
.options_li .options.incorrect {
    border-color: var(--red);
    color: var(--red);
    background: #FFDCDC;
}

/*Option called for is JS to disable once user selection is made*/
.options_li .options.disabled {
    pointer-events: none;
}

.options_li .options .icon.tick {
    border-color: green;
    color: green;
    background: #C7FFCB;
}

.options_li .options .icon.cross {
    border-color: var(--red);
    color: var(--red);
    background: #FFDCDC;
}

/*Crganizing the footer options*/
.quiz_actual footer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

/*Final pop up box for quiz results*/
.results {
    background: var(--white);
    width: 450px;
    border-radius: 5px;
    padding: 25px 31px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

/*Setting the stars icon that will appear when quiz is complete to be larger and gold*/
.results .icon {
    font-size: 50px;
    font-weight: 500;
    color: gold;
    margin-bottom: 10px;
}

/*the text that will appear when quiz is finished*/
.results .complete_txt {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
}

/*Quiz score result*/
.results .score_txt span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.results .buttons {
    display: flex;
    margin: 20px 0;
}

.results .buttons button {
    margin: 0 10px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.score_txt span p {
    font-weight: 600;
    padding: 0 4px;
}




.quiz_actual footer .total_q span {
    display: flex;
    user-select: none;
}

footer .total_q span p {
    font-weight: 600;
    padding: 0 5px;
}

.total_q span p:first-child {
    padding-left: 0px;
}

/*Layoout for the next question button the user will navigate the quiz with*/
footer .next_btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: all 0.4s ease;
}

footer .next_btn:hover {
    background: var(--blue);
}